[submodule ".emacs.d/lisp/emacs-color-theme-solarized"]
	path = .emacs.d/lisp/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/lisp/markdown-mode"]
	path = .emacs.d/lisp/markdown-mode
	url = git@github.com:defunkt/markdown-mode.git
[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
